# Heavily inspired by the telescope.nvim project
# https://github.com/nvim-telescope/telescope.nvim/blob/master/.github/workflows/ci.yml
name: Docs

on: [pull_request]

jobs:
  unit_tests:
    name: docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - run: date +%F > todays-date
      - name: Restore from todays cache
        uses: actions/cache@v3
        with:
          path: _neovim
          key: ubuntu-v0.9.0/nvim-linux64.tar.gz-${{ hashFiles('todays-date') }}

      - name: Prepare
        run: |
          test -d _neovim || {
            mkdir -p _neovim
            curl -sL "https://github.com/neovim/neovim/releases/download/v0.9.0/nvim-linux64.tar.gz" | tar xzf - --strip-components=1 -C "${PWD}/_neovim"
          }
          mkdir -p ~/.local/share/nvim/site/pack/vendor/start
          git clone --depth 1 https://github.com/echasnovski/mini.doc ~/.local/share/nvim/site/pack/vendor/start/mini.doc
          ln -s $(pwd) ~/.local/share/nvim/site/pack/vendor/start

      - name: Check docs
        run: |
          export PATH="${PWD}/_neovim/bin:${PATH}"
          export VIM="${PWD}/_neovim/share/nvim/runtime"
          nvim --version
          ./scripts/generate_docs.sh
          git diff --exit-code doc/SeshMgr.txt
